<h2>{{bug.name}} Details</h2>
<div><span>id: </span>{{bug.id}}</div>
<div><span>name: </span>{{bug.name}}</div>
<div>
    <label>name:
      <input [(ngModel)]="bug.name" placeholder="name"/>
    </label>
  </div>
<h2>List of Bugs</h2>
<ul class="bugs">
    <li *ngFor="let bug of bug_list" (click)="onSelect(bug)">
        <span class="badge">{{bug.id}}</span> {{bug.name}}
    </li>
</ul>
<div *ngIf="selectedBug">
    <h2>{{selectedBug.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedBug.id}}</div>
    <div>
    <label>name:
        <input [(ngModel)]="selectedBug.name" placeholder="name"/>
    </label>
    </div>
</div>