extends layout

block content
    div(class="header")
        a.button-add(href='/user') 
            img(src="/images/PPNLogo.png" alt="Image Title" height="175" width="300")
    div(class="about")
        a.scanBtn(href='/about', class="sans-serif") About Us
        a.scanBtn(href='/future', class="sans-serif") Future