extends layout

block content
    h1= title
    form(method='POST' action='')
        div.form-group
        label(for='zip_sel') Select Zip:
        select#name.form-control(name='zip_sel', value='')
            each val,index in data.zip
                option(value=val selected=(val === data.selectedZip)) #{data.zip[index]}
        div.form-group
        if firstrun != true
            label(for=("uid_inpt")) Previous UID:  
            input#name.form-control(type='text', name=('uid_inpt') value='')
            br
            each val,index in data.buglist
                label(for=(val+"_inpt")) #{val}: 
                input#name.form-control(type='text', name=(val+"_inpt") value='')
                br
        br    
        button.btn.btn-primary(type='submit') Submit