extends layout

block content
   a(href='/user/add') Add new data to the Public Ledger
   br
   a(href='/user/edit') Edit data on the Public Ledger
   br
   a(href='/user/settings') Edit user profile settings
